.git
.idea
.scratch
node_modules
vendor
public/build
bootstrap/cache/*
!bootstrap/cache/.gitignore
storage/*.key
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
.env
.env.*
!.env.example
.phpunit.result.cache
npm-debug.log
yarn-error.log
Dockerfile
