APP_KEY=
APP_URL=http://localhost:8080
APP_HOST=localhost
OPENLINK_IMAGE_TAG=latest
OPENLINK_UPDATER_ENABLED=false

POSTGRES_DB=openlink
POSTGRES_USER=openlink
POSTGRES_PASSWORD=openlink

APP_DEBUG=false
